//----------  helpers
//------------------------------------------------------------------------------

* {
	box-sizing: border-box;
	&::before,
	&::after {
		box-sizing: border-box;
	}
}

html, body {
	overflow-x: hidden;
	font-family: $font-default;
	width: 100%;
	position: relative;
	font-size: 16px;
}

// Theming and colors iterator
@each $colors-name in $site-colors {
	$name: nth($colors-name, 1);
	$color: nth($colors-name, 2);
	.bg-#{$name} {
		background-color: $color;
	}
	.color-#{$name} {
		color: $color;
	}
}