.accessibility {
    position: fixed;
    left: -200px;
    max-width: 200px;
    background-color: #fff;
    width: 100%;
    transition: transform .35s ease-out;
    z-index: 1000;
    top: 180px !important;

    &.accessibility-active {
        transform: translateX(100%);
    }

    @media (max-width: 767px) {
        top: 150px !important;
    }

    @media print {
        display: none !important;
    }
}

.accessibility-toggle-button {
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #334be8;
    width: 56px;
    height: 56px;

    &::after {
        font-family: 'svgicons';
        content: font-char($access);
        color: #fff;
        font-size: 36px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
    }

    @include hover {
        box-shadow: 0 0 18px -1px rgba(#000, .3);
    }
}

.accessibility-toolbar {
    box-shadow: 0 0 18px -1px rgba(#000, .3);
    border: 1px solid #334be8;
    padding: 20px 0;
}

.accessibility-title {
    display: block;
    font-size: 18px;
    color: #000;
    font-weight: bold;
    padding: 0 15px 15px;
    margin-bottom: 10px;

    @media (max-width: 767px) {
        margin-bottom: 0;
    }
}

.accessibility-buttons {
    padding: 0;
    margin: 0;

    li {
        list-style-type: none;
        font-size: 80%;

        button {
            display: block;
            color: #000;
            line-height: 1.3;
            text-align: left;
            width: 100%;
            padding: 10px 15px;
            transition: none;

            span:first-of-type::before {
                margin-right: 7px;
                display: inline-block;
                font-family: 'svgicons';
                color: inherit;
                font-size: inherit;
                vertical-align: top;
            }
        }

        &:first-of-type button span:first-of-type::before {
            content: font-char($increase);
        }

        &:nth-of-type(2) button span:first-of-type::before {
            content: font-char($decrease);
        }

        &:nth-of-type(3) button span:first-of-type::before {
            content: font-char($grayscale);
        }

        &:nth-of-type(4) button span:first-of-type::before {
            content: font-char($high-contrast);
        }

        &:nth-of-type(5) button span:first-of-type::before {
            content: font-char($negative-contrast);
        }

        &:nth-of-type(6) button span:first-of-type::before {
            content: font-char($light-background);
        }

        &:nth-of-type(7) button span:first-of-type::before {
            content: font-char($links-underline);
        }

        &:nth-of-type(8) button span:first-of-type::before {
            content: font-char($readable-font);
        }

        &:last-of-type button span:first-of-type::before {
            content: font-char($reset);
        }
    }

    @media (max-width: 767px) {
        li button {
            padding: 7px 12px;
        }
    }
}

@supports (-webkit-touch-callout: none) {
    .accessibility-buttons li {
        margin-top: -2px;
    }
}

.accessibility-button-active {
    background-color: #334be8;

    span {
        color: #fff;
        font-weight: bold;
    }
}

/* Font resizing */
$sizes: 130,
140,
150,
160,
170,
180,
190,
200;

@each $size in $sizes {

    body.accessibility-resize-font-#{$size},
    body.accessibility-resize-font-#{$size} p,
    body.accessibility-resize-font-#{$size} li,
    body.accessibility-resize-font-#{$size} label,
    body.accessibility-resize-font-#{$size} input,
    body.accessibility-resize-font-#{$size} select,
    body.accessibility-resize-font-#{$size} textarea,
    body.accessibility-resize-font-#{$size} legend,
    body.accessibility-resize-font-#{$size} code,
    body.accessibility-resize-font-#{$size} pre,
    body.accessibility-resize-font-#{$size} dd,
    body.accessibility-resize-font-#{$size} dt,
    body.accessibility-resize-font-#{$size} span:not(.accessibility-title),
    body.accessibility-resize-font-#{$size} blockquote {
        font-size: #{$size}% !important;
    }
}

/* Grayscale filter */
body.accessibility-grayscale {
    filter: grayscale(1) !important;
}

/* High contrast filter */
body.accessibility-high-contrast * {
    box-shadow: none !important;
    transition: none !important;
}

body.accessibility-high-contrast :focus {
    outline: thin dotted !important;
}

body.accessibility-high-contrast a,
body.accessibility-high-contrast article,
body.accessibility-high-contrast aside,
body.accessibility-high-contrast bdi,
body.accessibility-high-contrast blockquote,
body.accessibility-high-contrast body,
body.accessibility-high-contrast button,
body.accessibility-high-contrast canvas,
body.accessibility-high-contrast caption,
body.accessibility-high-contrast code,
body.accessibility-high-contrast col,
body.accessibility-high-contrast colgroup,
body.accessibility-high-contrast dd,
body.accessibility-high-contrast del,
body.accessibility-high-contrast details,
body.accessibility-high-contrast div,
body.accessibility-high-contrast dl,
body.accessibility-high-contrast dt,
body.accessibility-high-contrast embed,
body.accessibility-high-contrast fieldset,
body.accessibility-high-contrast figcaption,
body.accessibility-high-contrast figure,
body.accessibility-high-contrast footer,
body.accessibility-high-contrast form,
body.accessibility-high-contrast header,
body.accessibility-high-contrast hgroup,
body.accessibility-high-contrast html,
body.accessibility-high-contrast iframe,
body.accessibility-high-contrast img,
body.accessibility-high-contrast input,
body.accessibility-high-contrast ins,
body.accessibility-high-contrast kbd,
body.accessibility-high-contrast label,
body.accessibility-high-contrast legend,
body.accessibility-high-contrast li,
body.accessibility-high-contrast main,
body.accessibility-high-contrast mark,
body.accessibility-high-contrast menu,
body.accessibility-high-contrast meter,
body.accessibility-high-contrast nav,
body.accessibility-high-contrast object,
body.accessibility-high-contrast ol,
body.accessibility-high-contrast option,
body.accessibility-high-contrast output,
body.accessibility-high-contrast p,
body.accessibility-high-contrast pre,
body.accessibility-high-contrast progress,
body.accessibility-high-contrast q,
body.accessibility-high-contrast rb,
body.accessibility-high-contrast rp,
body.accessibility-high-contrast rt,
body.accessibility-high-contrast ruby,
body.accessibility-high-contrast s,
body.accessibility-high-contrast samp,
body.accessibility-high-contrast section,
body.accessibility-high-contrast select,
body.accessibility-high-contrast small,
body.accessibility-high-contrast span,
body.accessibility-high-contrast sub,
body.accessibility-high-contrast summary,
body.accessibility-high-contrast sup,
body.accessibility-high-contrast svg,
body.accessibility-high-contrast table,
body.accessibility-high-contrast tbody,
body.accessibility-high-contrast td,
body.accessibility-high-contrast text,
body.accessibility-high-contrast textarea,
body.accessibility-high-contrast th,
body.accessibility-high-contrast thead,
body.accessibility-high-contrast time,
body.accessibility-high-contrast tr,
body.accessibility-high-contrast ul,
body.accessibility-high-contrast var,
body.accessibility-high-contrast video {
    color: #fff !important;
}

body.accessibility-high-contrast,
body.accessibility-high-contrast a,
body.accessibility-high-contrast button,
body.accessibility-high-contrast abbr,
body.accessibility-high-contrast acronym,
body.accessibility-high-contrast address,
body.accessibility-high-contrast article,
body.accessibility-high-contrast aside,
body.accessibility-high-contrast b,
body.accessibility-high-contrast bdi,
body.accessibility-high-contrast blockquote,
body.accessibility-high-contrast body,
body.accessibility-high-contrast canvas,
body.accessibility-high-contrast caption,
body.accessibility-high-contrast cite,
body.accessibility-high-contrast code,
body.accessibility-high-contrast col,
body.accessibility-high-contrast colgroup,
body.accessibility-high-contrast dd,
body.accessibility-high-contrast del,
body.accessibility-high-contrast details,
body.accessibility-high-contrast dfn,
body.accessibility-high-contrast div,
body.accessibility-high-contrast dl,
body.accessibility-high-contrast dt,
body.accessibility-high-contrast em,
body.accessibility-high-contrast embed,
body.accessibility-high-contrast fieldset,
body.accessibility-high-contrast figcaption,
body.accessibility-high-contrast figure,
body.accessibility-high-contrast footer,
body.accessibility-high-contrast form,
body.accessibility-high-contrast h1,
body.accessibility-high-contrast h1 a,
body.accessibility-high-contrast h1 a b,
body.accessibility-high-contrast h1 abbr,
body.accessibility-high-contrast h1 b,
body.accessibility-high-contrast h1 em,
body.accessibility-high-contrast h1 i,
body.accessibility-high-contrast h1 span,
body.accessibility-high-contrast h1 strong,
body.accessibility-high-contrast h2,
body.accessibility-high-contrast h2 a,
body.accessibility-high-contrast h2 a b,
body.accessibility-high-contrast h2 abbr,
body.accessibility-high-contrast h2 b,
body.accessibility-high-contrast h2 em,
body.accessibility-high-contrast h2 i,
body.accessibility-high-contrast h2 span,
body.accessibility-high-contrast h2 strong,
body.accessibility-high-contrast h3,
body.accessibility-high-contrast h3 a,
body.accessibility-high-contrast h3 a b,
body.accessibility-high-contrast h3 abbr,
body.accessibility-high-contrast h3 b,
body.accessibility-high-contrast h3 em,
body.accessibility-high-contrast h3 i,
body.accessibility-high-contrast h3 span,
body.accessibility-high-contrast h3 strong,
body.accessibility-high-contrast h4,
body.accessibility-high-contrast h4 a,
body.accessibility-high-contrast h4 a b,
body.accessibility-high-contrast h4 abbr,
body.accessibility-high-contrast h4 b,
body.accessibility-high-contrast h4 em,
body.accessibility-high-contrast h4 i,
body.accessibility-high-contrast h4 span,
body.accessibility-high-contrast h4 strong,
body.accessibility-high-contrast h5,
body.accessibility-high-contrast h5 a,
body.accessibility-high-contrast h5 a b,
body.accessibility-high-contrast h5 abbr,
body.accessibility-high-contrast h5 b,
body.accessibility-high-contrast h5 em,
body.accessibility-high-contrast h5 i,
body.accessibility-high-contrast h5 span,
body.accessibility-high-contrast h5 strong,
body.accessibility-high-contrast h6,
body.accessibility-high-contrast h6 a,
body.accessibility-high-contrast h6 a b,
body.accessibility-high-contrast h6 abbr,
body.accessibility-high-contrast h6 b,
body.accessibility-high-contrast h6 em,
body.accessibility-high-contrast h6 i,
body.accessibility-high-contrast h6 span,
body.accessibility-high-contrast h6 strong,
body.accessibility-high-contrast header,
body.accessibility-high-contrast hgroup,
body.accessibility-high-contrast html,
body.accessibility-high-contrast i,
body.accessibility-high-contrast iframe,
body.accessibility-high-contrast input,
body.accessibility-high-contrast ins,
body.accessibility-high-contrast kbd,
body.accessibility-high-contrast label,
body.accessibility-high-contrast legend,
body.accessibility-high-contrast li,
body.accessibility-high-contrast main,
body.accessibility-high-contrast mark,
body.accessibility-high-contrast menu,
body.accessibility-high-contrast meter,
body.accessibility-high-contrast nav,
body.accessibility-high-contrast object,
body.accessibility-high-contrast ol,
body.accessibility-high-contrast option,
body.accessibility-high-contrast output,
body.accessibility-high-contrast p,
body.accessibility-high-contrast pre,
body.accessibility-high-contrast progress,
body.accessibility-high-contrast q,
body.accessibility-high-contrast rb,
body.accessibility-high-contrast rp,
body.accessibility-high-contrast rt,
body.accessibility-high-contrast ruby,
body.accessibility-high-contrast s,
body.accessibility-high-contrast samp,
body.accessibility-high-contrast section,
body.accessibility-high-contrast small,
body.accessibility-high-contrast span,
body.accessibility-high-contrast strong,
body.accessibility-high-contrast sub,
body.accessibility-high-contrast summary,
body.accessibility-high-contrast sup,
body.accessibility-high-contrast svg,
body.accessibility-high-contrast table,
body.accessibility-high-contrast tbody,
body.accessibility-high-contrast td,
body.accessibility-high-contrast text,
body.accessibility-high-contrast textarea,
body.accessibility-high-contrast th,
body.accessibility-high-contrast thead,
body.accessibility-high-contrast time,
body.accessibility-high-contrast tr,
body.accessibility-high-contrast u,
body.accessibility-high-contrast ul,
body.accessibility-high-contrast var,
body.accessibility-high-contrast video {
    background: #000 !important;
}

body.accessibility-high-contrast a,
body.accessibility-high-contrast abbr,
body.accessibility-high-contrast acronym,
body.accessibility-high-contrast address,
body.accessibility-high-contrast article,
body.accessibility-high-contrast aside,
body.accessibility-high-contrast b,
body.accessibility-high-contrast bdi,
body.accessibility-high-contrast blockquote,
body.accessibility-high-contrast body,
body.accessibility-high-contrast button,
body.accessibility-high-contrast canvas,
body.accessibility-high-contrast caption,
body.accessibility-high-contrast cite,
body.accessibility-high-contrast code,
body.accessibility-high-contrast col,
body.accessibility-high-contrast colgroup,
body.accessibility-high-contrast dd,
body.accessibility-high-contrast del,
body.accessibility-high-contrast details,
body.accessibility-high-contrast dfn,
body.accessibility-high-contrast div,
body.accessibility-high-contrast dl,
body.accessibility-high-contrast dt,
body.accessibility-high-contrast em,
body.accessibility-high-contrast embed,
body.accessibility-high-contrast fieldset,
body.accessibility-high-contrast figcaption,
body.accessibility-high-contrast figure,
body.accessibility-high-contrast footer,
body.accessibility-high-contrast form,
body.accessibility-high-contrast h1,
body.accessibility-high-contrast h1 a,
body.accessibility-high-contrast h1 a b,
body.accessibility-high-contrast h1 abbr,
body.accessibility-high-contrast h1 b,
body.accessibility-high-contrast h1 em,
body.accessibility-high-contrast h1 i,
body.accessibility-high-contrast h1 span,
body.accessibility-high-contrast h1 strong,
body.accessibility-high-contrast h2,
body.accessibility-high-contrast h2 a,
body.accessibility-high-contrast h2 a b,
body.accessibility-high-contrast h2 abbr,
body.accessibility-high-contrast h2 b,
body.accessibility-high-contrast h2 em,
body.accessibility-high-contrast h2 i,
body.accessibility-high-contrast h2 span,
body.accessibility-high-contrast h2 strong,
body.accessibility-high-contrast h3,
body.accessibility-high-contrast h3 a,
body.accessibility-high-contrast h3 a b,
body.accessibility-high-contrast h3 abbr,
body.accessibility-high-contrast h3 b,
body.accessibility-high-contrast h3 em,
body.accessibility-high-contrast h3 i,
body.accessibility-high-contrast h3 span,
body.accessibility-high-contrast h3 strong,
body.accessibility-high-contrast h4,
body.accessibility-high-contrast h4 a,
body.accessibility-high-contrast h4 a b,
body.accessibility-high-contrast h4 abbr,
body.accessibility-high-contrast h4 b,
body.accessibility-high-contrast h4 em,
body.accessibility-high-contrast h4 i,
body.accessibility-high-contrast h4 span,
body.accessibility-high-contrast h4 strong,
body.accessibility-high-contrast h5,
body.accessibility-high-contrast h5 a,
body.accessibility-high-contrast h5 a b,
body.accessibility-high-contrast h5 abbr,
body.accessibility-high-contrast h5 b,
body.accessibility-high-contrast h5 em,
body.accessibility-high-contrast h5 i,
body.accessibility-high-contrast h5 span,
body.accessibility-high-contrast h5 strong,
body.accessibility-high-contrast h6,
body.accessibility-high-contrast h6 a,
body.accessibility-high-contrast h6 a b,
body.accessibility-high-contrast h6 abbr,
body.accessibility-high-contrast h6 b,
body.accessibility-high-contrast h6 em,
body.accessibility-high-contrast h6 i,
body.accessibility-high-contrast h6 span,
body.accessibility-high-contrast h6 strong,
body.accessibility-high-contrast header,
body.accessibility-high-contrast hgroup,
body.accessibility-high-contrast html,
body.accessibility-high-contrast i,
body.accessibility-high-contrast iframe,
body.accessibility-high-contrast img,
body.accessibility-high-contrast input,
body.accessibility-high-contrast ins,
body.accessibility-high-contrast kbd,
body.accessibility-high-contrast label,
body.accessibility-high-contrast legend,
body.accessibility-high-contrast li,
body.accessibility-high-contrast main,
body.accessibility-high-contrast mark,
body.accessibility-high-contrast menu,
body.accessibility-high-contrast meter,
body.accessibility-high-contrast nav,
body.accessibility-high-contrast object,
body.accessibility-high-contrast ol,
body.accessibility-high-contrast option,
body.accessibility-high-contrast output,
body.accessibility-high-contrast p,
body.accessibility-high-contrast pre,
body.accessibility-high-contrast progress,
body.accessibility-high-contrast q,
body.accessibility-high-contrast rb,
body.accessibility-high-contrast rp,
body.accessibility-high-contrast rt,
body.accessibility-high-contrast ruby,
body.accessibility-high-contrast s,
body.accessibility-high-contrast samp,
body.accessibility-high-contrast section,
body.accessibility-high-contrast select,
body.accessibility-high-contrast small,
body.accessibility-high-contrast span,
body.accessibility-high-contrast strong,
body.accessibility-high-contrast sub,
body.accessibility-high-contrast summary,
body.accessibility-high-contrast sup,
body.accessibility-high-contrast svg,
body.accessibility-high-contrast table,
body.accessibility-high-contrast tbody,
body.accessibility-high-contrast td,
body.accessibility-high-contrast text,
body.accessibility-high-contrast textarea,
body.accessibility-high-contrast th,
body.accessibility-high-contrast thead,
body.accessibility-high-contrast time,
body.accessibility-high-contrast tr,
body.accessibility-high-contrast u,
body.accessibility-high-contrast ul,
body.accessibility-high-contrast var,
body.accessibility-high-contrast video {
    background-image: none !important;
    text-shadow: none !important;
    user-select: text !important;
}

body.accessibility-high-contrast h1,
body.accessibility-high-contrast h1 a,
body.accessibility-high-contrast h1 a b,
body.accessibility-high-contrast h1 abbr,
body.accessibility-high-contrast h1 span,
body.accessibility-high-contrast h2,
body.accessibility-high-contrast h2 a,
body.accessibility-high-contrast h2 a b,
body.accessibility-high-contrast h2 abbr,
body.accessibility-high-contrast h2 span,
body.accessibility-high-contrast h3,
body.accessibility-high-contrast h3 a,
body.accessibility-high-contrast h3 a b,
body.accessibility-high-contrast h3 abbr,
body.accessibility-high-contrast h3 span,
body.accessibility-high-contrast h4,
body.accessibility-high-contrast h4 a,
body.accessibility-high-contrast h4 a b,
body.accessibility-high-contrast h4 abbr,
body.accessibility-high-contrast h4 span,
body.accessibility-high-contrast h5,
body.accessibility-high-contrast h5 a,
body.accessibility-high-contrast h5 a b,
body.accessibility-high-contrast h5 abbr,
body.accessibility-high-contrast h5 span,
body.accessibility-high-contrast h6,
body.accessibility-high-contrast h6 a,
body.accessibility-high-contrast h6 a b,
body.accessibility-high-contrast h6 abbr,
body.accessibility-high-contrast h6 span {
    color: #40c090 !important;
}

body.accessibility-high-contrast button,
body.accessibility-high-contrast button abbr,
body.accessibility-high-contrast button acronym,
body.accessibility-high-contrast button b,
body.accessibility-high-contrast button br,
body.accessibility-high-contrast button code,
body.accessibility-high-contrast button div,
body.accessibility-high-contrast button em,
body.accessibility-high-contrast button h1,
body.accessibility-high-contrast button h2,
body.accessibility-high-contrast button h3,
body.accessibility-high-contrast button h4,
body.accessibility-high-contrast button h5,
body.accessibility-high-contrast button h6,
body.accessibility-high-contrast button i,
body.accessibility-high-contrast button kbd,
body.accessibility-high-contrast button rb,
body.accessibility-high-contrast button rp,
body.accessibility-high-contrast button rt,
body.accessibility-high-contrast button ruby,
body.accessibility-high-contrast button samp,
body.accessibility-high-contrast button small,
body.accessibility-high-contrast button span:not(.accessibility-icon),
body.accessibility-high-contrast button strong,
body.accessibility-high-contrast button u,
body.accessibility-high-contrast button var,
body.accessibility-high-contrast a:link,
body.accessibility-high-contrast a:link abbr,
body.accessibility-high-contrast a:link acronym,
body.accessibility-high-contrast a:link b,
body.accessibility-high-contrast a:link br,
body.accessibility-high-contrast a:link code,
body.accessibility-high-contrast a:link div,
body.accessibility-high-contrast a:link em,
body.accessibility-high-contrast a:link h1,
body.accessibility-high-contrast a:link h2,
body.accessibility-high-contrast a:link h3,
body.accessibility-high-contrast a:link h4,
body.accessibility-high-contrast a:link h5,
body.accessibility-high-contrast a:link h6,
body.accessibility-high-contrast a:link i,
body.accessibility-high-contrast a:link kbd,
body.accessibility-high-contrast a:link rb,
body.accessibility-high-contrast a:link rp,
body.accessibility-high-contrast a:link rt,
body.accessibility-high-contrast a:link ruby,
body.accessibility-high-contrast a:link samp,
body.accessibility-high-contrast a:link small,
body.accessibility-high-contrast a:link span,
body.accessibility-high-contrast a:link strong,
body.accessibility-high-contrast a:link u,
body.accessibility-high-contrast a:link var {
    color: #0080ff !important;
}

body.accessibility-high-contrast button:hover,
body.accessibility-high-contrast button:hover abbr,
body.accessibility-high-contrast button:hover acronym,
body.accessibility-high-contrast button:hover b,
body.accessibility-high-contrast button:hover br,
body.accessibility-high-contrast button:hover code,
body.accessibility-high-contrast button:hover div,
body.accessibility-high-contrast button:hover em,
body.accessibility-high-contrast button:hover h1,
body.accessibility-high-contrast button:hover h2,
body.accessibility-high-contrast button:hover h3,
body.accessibility-high-contrast button:hover h4,
body.accessibility-high-contrast button:hover h5,
body.accessibility-high-contrast button:hover h6,
body.accessibility-high-contrast button:hover i,
body.accessibility-high-contrast button:hover kbd,
body.accessibility-high-contrast button:hover rb,
body.accessibility-high-contrast button:hover rp,
body.accessibility-high-contrast button:hover rt,
body.accessibility-high-contrast button:hover ruby,
body.accessibility-high-contrast button:hover samp,
body.accessibility-high-contrast button:hover small,
body.accessibility-high-contrast button:hover span,
body.accessibility-high-contrast button:hover strong,
body.accessibility-high-contrast button:hover u,
body.accessibility-high-contrast button:hover var,
body.accessibility-high-contrast a:link:hover,
body.accessibility-high-contrast a:link:hover abbr,
body.accessibility-high-contrast a:link:hover acronym,
body.accessibility-high-contrast a:link:hover b,
body.accessibility-high-contrast a:link:hover br,
body.accessibility-high-contrast a:link:hover code,
body.accessibility-high-contrast a:link:hover div,
body.accessibility-high-contrast a:link:hover em,
body.accessibility-high-contrast a:link:hover h1,
body.accessibility-high-contrast a:link:hover h2,
body.accessibility-high-contrast a:link:hover h3,
body.accessibility-high-contrast a:link:hover h4,
body.accessibility-high-contrast a:link:hover h5,
body.accessibility-high-contrast a:link:hover h6,
body.accessibility-high-contrast a:link:hover i,
body.accessibility-high-contrast a:link:hover kbd,
body.accessibility-high-contrast a:link:hover rb,
body.accessibility-high-contrast a:link:hover rp,
body.accessibility-high-contrast a:link:hover rt,
body.accessibility-high-contrast a:link:hover ruby,
body.accessibility-high-contrast a:link:hover samp,
body.accessibility-high-contrast a:link:hover small,
body.accessibility-high-contrast a:link:hover span,
body.accessibility-high-contrast a:link:hover strong,
body.accessibility-high-contrast a:link:hover u,
body.accessibility-high-contrast a:link:hover var,
body.accessibility-high-contrast a:visited:hover,
body.accessibility-high-contrast a:visited:hover abbr,
body.accessibility-high-contrast a:visited:hover acronym,
body.accessibility-high-contrast a:visited:hover b,
body.accessibility-high-contrast a:visited:hover br,
body.accessibility-high-contrast a:visited:hover code,
body.accessibility-high-contrast a:visited:hover div,
body.accessibility-high-contrast a:visited:hover em,
body.accessibility-high-contrast a:visited:hover h1,
body.accessibility-high-contrast a:visited:hover h2,
body.accessibility-high-contrast a:visited:hover h3,
body.accessibility-high-contrast a:visited:hover h4,
body.accessibility-high-contrast a:visited:hover h5,
body.accessibility-high-contrast a:visited:hover h6,
body.accessibility-high-contrast a:visited:hover i,
body.accessibility-high-contrast a:visited:hover kbd,
body.accessibility-high-contrast a:visited:hover rb,
body.accessibility-high-contrast a:visited:hover rp,
body.accessibility-high-contrast a:visited:hover rt,
body.accessibility-high-contrast a:visited:hover ruby,
body.accessibility-high-contrast a:visited:hover samp,
body.accessibility-high-contrast a:visited:hover small,
body.accessibility-high-contrast a:visited:hover span,
body.accessibility-high-contrast a:visited:hover strong,
body.accessibility-high-contrast a:visited:hover u,
body.accessibility-high-contrast a:visited:hover var {
    background: #400000 !important;
    background-color: #400000 !important;
}

body.accessibility-high-contrast a:visited,
body.accessibility-high-contrast a:visited abbr,
body.accessibility-high-contrast a:visited acronym,
body.accessibility-high-contrast a:visited b,
body.accessibility-high-contrast a:visited br,
body.accessibility-high-contrast a:visited code,
body.accessibility-high-contrast a:visited div,
body.accessibility-high-contrast a:visited em,
body.accessibility-high-contrast a:visited h1,
body.accessibility-high-contrast a:visited h2,
body.accessibility-high-contrast a:visited h3,
body.accessibility-high-contrast a:visited h4,
body.accessibility-high-contrast a:visited h5,
body.accessibility-high-contrast a:visited h6,
body.accessibility-high-contrast a:visited i,
body.accessibility-high-contrast a:visited kbd,
body.accessibility-high-contrast a:visited rb,
body.accessibility-high-contrast a:visited rp,
body.accessibility-high-contrast a:visited rt,
body.accessibility-high-contrast a:visited ruby,
body.accessibility-high-contrast a:visited samp,
body.accessibility-high-contrast a:visited small,
body.accessibility-high-contrast a:visited span,
body.accessibility-high-contrast a:visited strong,
body.accessibility-high-contrast a:visited u,
body.accessibility-high-contrast a:visited var {
    color: #0ff !important;
}

body.accessibility-high-contrast button:not(.accessibility-button):not(.accessibility-toggle-button),
body.accessibility-high-contrast input,
body.accessibility-high-contrast textarea,
body.accessibility-high-contrast select,
body.accessibility-high-contrast table,
body.accessibility-high-contrast td,
body.accessibility-high-contrast th,
body.accessibility-high-contrast tr {
    border: 1px solid #fff !important;
}

body.accessibility-high-contrast div[role='button'],
body.accessibility-high-contrast input[type='button'],
body.accessibility-high-contrast input[type='submit'] {
    background: #600040 !important;
    background-color: #600040 !important;
}

body.accessibility-high-contrast .accessibility-title,
body.accessibility-high-contrast .accessibility-icon {
    color: #fff !important;
}

/* Negative contrast filter */
body.accessibility-negative-contrast input::placeholder,
body.accessibility-negative-contrast,
body.accessibility-negative-contrast *,
body.accessibility-negative-contrast .accessibility-icon,
body.accessibility-negative-contrast .accessibility-title {
    background: #000 !important;
    color: #fff !important;
}

body.accessibility-negative-contrast a,
body.accessibility-negative-contrast b,
body.accessibility-negative-contrast blockquote,
body.accessibility-negative-contrast button,
body.accessibility-negative-contrast canvas,
body.accessibility-negative-contrast caption,
body.accessibility-negative-contrast cite,
body.accessibility-negative-contrast code,
body.accessibility-negative-contrast col,
body.accessibility-negative-contrast colgroup,
body.accessibility-negative-contrast dd,
body.accessibility-negative-contrast details,
body.accessibility-negative-contrast dfn,
body.accessibility-negative-contrast div,
body.accessibility-negative-contrast dl,
body.accessibility-negative-contrast dt,
body.accessibility-negative-contrast em,
body.accessibility-negative-contrast embed,
body.accessibility-negative-contrast fieldset,
body.accessibility-negative-contrast figcaption,
body.accessibility-negative-contrast figure,
body.accessibility-negative-contrast footer,
body.accessibility-negative-contrast form,
body.accessibility-negative-contrast header,
body.accessibility-negative-contrast i,
body.accessibility-negative-contrast iframe,
body.accessibility-negative-contrast img,
body.accessibility-negative-contrast input,
body.accessibility-negative-contrast kbd,
body.accessibility-negative-contrast label,
body.accessibility-negative-contrast legend,
body.accessibility-negative-contrast li,
body.accessibility-negative-contrast mark,
body.accessibility-negative-contrast menu,
body.accessibility-negative-contrast meter,
body.accessibility-negative-contrast nav,
body.accessibility-negative-contrast object,
body.accessibility-negative-contrast ol,
body.accessibility-negative-contrast option,
body.accessibility-negative-contrast pre,
body.accessibility-negative-contrast progress,
body.accessibility-negative-contrast q,
body.accessibility-negative-contrast s,
body.accessibility-negative-contrast section,
body.accessibility-negative-contrast select,
body.accessibility-negative-contrast small,
body.accessibility-negative-contrast span,
body.accessibility-negative-contrast span:not(.accessibility-icon):not(.accessibility-title),
body.accessibility-negative-contrast strong,
body.accessibility-negative-contrast sub,
body.accessibility-negative-contrast summary,
body.accessibility-negative-contrast sup,
body.accessibility-negative-contrast table,
body.accessibility-negative-contrast td,
body.accessibility-negative-contrast textarea,
body.accessibility-negative-contrast th,
body.accessibility-negative-contrast time,
body.accessibility-negative-contrast tr,
body.accessibility-negative-contrast u,
body.accessibility-negative-contrast ul,
body.accessibility-negative-contrast var,
body.accessibility-negative-contrast a span,
body.accessibility-negative-contrast *:not(.accessibility-toolbar) a span,
body.accessibility-negative-contrast strong {
    color: #ff0 !important;
}

body.accessibility-negative-contrast button,
body.accessibility-negative-contrast input,
body.accessibility-negative-contrast textarea,
body.accessibility-negative-contrast select,
body.accessibility-negative-contrast table,
body.accessibility-negative-contrast td,
body.accessibility-negative-contrast th,
body.accessibility-negative-contrast tr,
body.accessibility-negative-contrast tt {
    border: 1px solid #fff !important;
}

body.accessibility-negative-contrast .accessibility {
    border: 1px solid #334be8 !important;

    * {
        border: 0 !important;
    }

    .accessibility-toggle-button {
        left: calc(100% + 1px);
    }
}

/* Light background filter */
body.accessibility-light-background,
body.accessibility-light-background *:not(.accessibility):not(.accessibility-item):not(.accessibility-toggle-button):not(.accessibility-button-active),
body.accessibility-light-background .accessibility-toggle-button::after {
    background: #fff !important;
    color: #000 !important;
}

/* Links and buttons underline */
body.accessibility-links-underline a,
body.accessibility-links-underline a *,
body.accessibility-links-underline button:not(.accessibility-toggle-button),
body.accessibility-links-underline button * {
    text-decoration: underline !important;
}

/* Readable font */
body.accessibility-readable-font,
body.accessibility-readable-font *:not(i):not(span) {
    font-family: Verdana, Arial, Helvetica, sans-serif !important;
}

/* IE - removed grayscale/ IE not supporting grayscale  */
@media screen and (-ms-high-contrast: active),
screen and (-ms-high-contrast: none) {

    .accessibility-buttons li:nth-of-type(3) {
        display: none !important;
    }

    body.accessibility-negative-contrast .accessibility-icon,
    body.accessibility-negative-contrast .accessibility-title,
    body.accessibility-negative-contrast,
    body.accessibility-negative-contrast * {
        background: #000 !important;
        color: #fff !important;
    }
}

@supports (-ms-ime-align:auto) {
    body.accessibility-negative-contrast .accessibility-icon,
    body.accessibility-negative-contrast .accessibility-title,
    body.accessibility-negative-contrast,
    body.accessibility-negative-contrast * {
        background: #000 !important;
        color: #fff !important;
    }
}
