.nb-block {
	clear: both;
	margin: $nbSpace 0;

	&:first-of-type {
		margin-top: 0;
	}

	[data-uk-lightbox] a {
		cursor: zoom-in;
	}

	&-content {

		figure {
			display: table;
			margin-top: 0;
			outline: none;

			a {
				cursor: zoom-in;
				display: block;
				width: 100%;
			}

			img {
				display: block;
				height: auto;

				@media (max-width: $breakpointMobile) {
					width: 100%;
				}
			}
		}

		figcaption {
			caption-side: bottom;
			display: table-caption;
			font-size: 0.8rem;
			padding: $nbGutterSmall;
			text-align: center;
		}

		.align_right {
			float: right;
			margin-bottom: $nbSpace;
			margin-left: $nbSpace;
		}

		.align_left {
			float: left;
			margin-bottom: $nbSpace;
			margin-right: $nbSpace;
		}

		.align_center {
			clear: both;
			margin: $nbSpace auto;
			text-align: center;
		}

		@media (max-width: $breakpointMobile) {
			.align_right,
			.align_left,
			.align_center {
				clear: both;
				float: none;
				margin: $nbSpaceSmall 0;
				width: 100%;
			}
		}

		.TextformatterVideoEmbed {
			margin: $nbSpace 0;
		}
	}

	&-gallery {

		.nb-gallery-images {
			margin: 0 -$nbGutterXsmall;
			overflow: hidden;

			.nb-gallery-row {
				display: table;
				width: 100%;

				.nb-gallery-image {
					border: $nbGutterXsmall solid transparent;
					display: table-cell;
					margin: 0;
					outline: none;
					overflow: hidden;
					position: relative;
					vertical-align: top;

					img {
						height: auto;
						width: 100%;
						vertical-align: middle;
					}
				}
			}

			.uk-container-expand & {
				margin: 0 $nbGutterXsmall;
			}
		}
	}

	&-form {

		.nb-form-content {
			position: relative;
	
			ul {
				margin: 0 0 $nbGutterSmall;
				padding: 0;
	
				li {
					display: inline-block;
					list-style: none;
					width: 100%;
				}
			}
		}
	
		label {
	
			i {
				margin-right: $nbGutterSmall;
			}
		}
	
		.uk-checkbox {
	
			+ span {
				display: inline-block;
				margin-left: $nbGutterSmall;
			}
		}
	
		.uk-radio {
	
			+ span {
				display: inline-block;
				margin-left: $nbGutterSmall;
			}
		}
	
		.nb-form-error {
			font-size: 0.875em;
			font-weight: 700;
			margin-bottom: $nbGutterSmall;
	
			.uk-icon {
				position: relative;
				top: -1px;
			}
		}
	
		.g-recaptcha {
			margin-bottom: 1rem;
		}
	}

	&-embed {
		iframe {
			width: 100%;
		}
	}
}
