.nb-legal {
	padding: $nbGutterSmall 0;

	ul {
		margin: 0;
		padding: 0;

		li {
			display: inline-block;
			list-style: none;
			margin: 0;
			padding: 0;

			a {
				color: $nbGrey;

				@include hover {
					color: $nbBlack;
				}
			}

			&:after {
				content: "|";
				color: $nbLightGrey;
				display: inline-block;
				padding: 0 $nbGutter;
			}

			&:last-child:after {
				content: "";
			}

			@media (max-width: $breakpointMobile) {
				display: block;

				&:after {
					display: none;
				}
			}
		}
	}
}
