//----------  variables
//------------------------------------------------------------------------------

$font-default: 'Times New Roman', sans-serif;
$bold: 700;
$semi-bold: 600;
$medium: 500;
$light: 300;
$thin: 100;
$italic: italic;

// Colors
$white: #fff;
$black: #000;

$site-colors: (
	'black': $black,
	'white': $white
) !default;

//----------  Bootstrap grid
//------------------------------------------------------------------------------

$enable-grid-classes: true !default;

//----------  Media queries breakpoints - Grid breakpoint
//------------------------------------------------------------------------------

$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px
) !default;

//----------  Grid containers
//------------------------------------------------------------------------------

$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1140px
) !default;

//----------  Grid columns
//------------------------------------------------------------------------------

$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;

//
// UIkit
//

// Breakpoints
$breakpointSmall: 640px;
$breakpointMedium: 960px;
$breakpointLarge: 1200px;
$breakpointXlarge: 1600px;
$breakpointXsmallMax: ($breakpointSmall - 1);
$breakpointSmallMax: ($breakpointMedium - 1);
$breakpointMediumMax: ($breakpointLarge - 1);
$breakpointLargeMax: ($breakpointXlarge - 1);
$breakpointMobile: 479px;

//
// NB
//

$nbCent: 32%;
$nbSec: 256ms;

// Spacing
$nbSpace: 2.5rem;
$nbSpaceSmall: $nbSpace * 0.6;
$nbSpaceXsmall: $nbSpace * 0.3;
$nbSpaceLarge: $nbSpace * 1.4;
$nbSpaceXlarge: $nbSpace * 2;
$nbGutter: $nbSpace * 0.2;
$nbGutterSmall: $nbGutter / 2;
$nbGutterXsmall: $nbGutterSmall / 2;

// Colour
$nbWhite: #fff;
$nbBlack: #241d1e;
$nbRed: #e11e2f;
$nbGrey: lighten($nbBlack, $nbCent);
$nbLightGrey: lighten($nbGrey, $nbCent);
$nbOffWhite: lighten($nbLightGrey, $nbCent / 2);

// Animation
$nbSpeed: $nbSec;
$nbSpeedShort: $nbSpeed / 2;
$nbSpeedLong: $nbSpeed * 2;

//
// Theme
//

$themeVar: 0; // Example, not used

//SVG Variables
$access: 'universal-access';
$increase: 'increase';
$decrease: 'decrease';
$grayscale: 'filter-grayscale';
$high-contrast: 'high-contrast';
$negative-contrast: 'negative-contrast';
$light-background: 'light-background';
$links-underline: 'link';
$readable-font: 'readable-font';
$reset: 'reset';


