//
// Theme
//
// Config
@import 'config/variables.scss';

// Base
@import 'base/fonts.scss';
@import 'base/layout.scss';
@import 'base/typography.scss';

// Helpers
@import 'helpers/mixins.scss';

// Layout / Helpers
@import 'layout/_icon-font.scss';
@import 'helpers/helpers.scss';
@import 'layout/buttons.scss';
@import 'layout/forms.scss';

// UIkit
@import "uikit/base.scss";
@import "uikit/navbar.scss";
@import "uikit/logo.scss";
@import "uikit/breadcrumb.scss";
@import "uikit/form.scss";

// NB
@import "nb/block.scss";
@import "nb/responsive.scss";
@import "nb/file-icon.scss";
@import "nb/legal.scss";
@import "nb/credit.scss";

// Modules
@import 'modules/banner.scss';
@import 'modules/basic-block.scss';
@import 'modules/slider.scss';
@import 'modules/team-list.scss';
@import 'modules/accessibility.scss';

// Theme
@import "theme/base.scss";
@import "theme/header.scss";
@import "theme/footer.scss";
@import "theme/ie11.scss";
@import "theme/print.scss";


// Template | Remove or Integrate

// uikit/base
a, .uk-link {
	color: $nbRed;
}

.uk-link-toggle:focus .uk-link,
.uk-link-toggle:hover .uk-link,
.uk-link:hover,
a:hover {
	color: $nbRed;
}

// uikit/logo
.uk-logo {

	img {
		width: 228px;
	}
}

// uikit/breadcrumb
.uk-breadcrumb > :last-child > * {
    overflow: hidden;
    text-overflow: ellipsis;
	white-space: nowrap;
	display: inline-block;
	vertical-align: middle;

	@media (max-width: $breakpointXsmallMax) {
		max-width: 128px;
	}
}

// theme/footer
.footer {
	font-size: 0.9rem;

	@media (max-width: $breakpointMobile) {
		font-size: 0.8rem;
	}
}
